.content {
    height: 200px;
    color: greenyellow;
}

p {
    text-align: center;
    color: red;
  } 


  #gfapp {
    text-align: left;
    color: blue;    
  }

title {
    height: 400px;
    color: green;
}

.radios {
    color: purple;
    height: 40px;
}

.boxes {
    color: blue;
    height: 40px;
}

.standing{
    background-color: grey;
    color: black;
    
}

