table{
    border-collapse: collapse;
}

 table, th, tr, td{
    border: 1px solid black;
    text-align: left;
}
td{
    text-align: center;
}
.arrow{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 20px;
    left: 200px;
}
.scatola{ 
    position: relative;
    top: 150px;
    width: 99%;
    height: auto;
    font-style: italic;
    background-color: black;
}
.radios {
    color: purple;
    height: auto;
}

.boxes {
    color: rgb(29, 187, 50);
    height: auto;
}

.scatola:hover {
    background-color:cyan;
}
.centro{
    width: 99%;
    top: 250px;
    height: auto;
    position: relative;
    background-color: lightgrey;
}
.butun{
        position: relative;
        right: -30px;
        bottom: 95px;
        background-color: #0E1D99;
        border: none;
        color: white;
        padding: 25px 35px;
        text-align: center;
        font-size: 20px;
        cursor: progress;
        width: 30%;
        height: 130px;
}
.butun:hover {
    background-color:#01A0F3;
  }

.maschera{
  position: relative;   
  left: 20px;
  width: 32%;
  height: 250px;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align-last: left;
}
p{
    color:black;
    text-align: left;
}
.manda{
    background-color: #4CAF50;
    color: white;
}
.tuttoandroid{
    position: relative;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    width: 32%;
    height: 200px;
}
